/*
	Theme Name:  TTI Base
	Description: Custom child theme for the <a href="http://genesistheme.com">Genesis Framework</a>.
	Author:      TTI Comm
	Author URI:  https://comweb.tti.tamu.edu/
	Version:     1.1
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/
